.container {
  display: flex;
  gap: 6px;
}

.pointingMessage {
  color: var(--orange-300);
  flex-shrink: 1;
  font-family: 'Bellota Text', sans-serif;
  font-size: 20px;
}

a.pointingStory {
  color: var(--link);
  font-family: 'Bellota Text', sans-serif;
  font-size: 20px;
}

span.pointingStory {
  color: var(--orange-300);
  font-family: 'Bellota Text', sans-serif;
  font-size: 20px;
}
