.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.buttonsInnerContainer {
  display: flex;
  gap: 24px;
  width: 100%;
}

.buttonsInnerContainer button {
  background: var(--orange-400);
  flex-grow: 1;
  font-family: "Calistoga", sans-serif;
  font-size: 26px;
  font-weight: 400;
  padding: 32px;
}

.buttonsInnerContainer button.active {
  background: var(--orange-300);
  flex-grow: 1;
  font-family: "Calistoga", sans-serif;
  font-size: 26px;
  font-weight: 400;
  padding: 32px;
}

.container {
  align-items: center;
  background: var(--orange-100);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column-end: span 3;
  justify-self: center;
  padding: 24px;
  width: calc(100% - 64px);
}

.container > * {
  width: 700px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.teamIDContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.teamIDContainer button {
  margin-top: 24px;
}

.teamNameContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.teamNameContainer button {
  margin-top: 24px;
}
