h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

hr {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}

.inputLabel {
  color: var(--orange-400);
  font-family: 'Bellota Text', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.storyIDContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.userStates {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
