.container {
  display: grid;
  grid-area: content;
  grid-template-areas: 
  "content content sidebar"
  "content content sidebar"
  "content content sidebar";
}

.content {
  border: 1px solid red;
  grid-area: content;
}

.sidebar {
  border: 1px solid green;
  grid-area: sidebar;
}
