.container {
  display: grid;
  grid-area: content;
  grid-template-areas:
    'content content sidebar'
    'content content sidebar'
    'content content sidebar';
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: content;
  padding: 1rem;
}

.sidebar {
  grid-area: sidebar;
  padding: 1rem;
}
