.accountIcon {
  color: var(--orange-300);
  cursor: pointer;
  font-size: 42px;
  user-select: none;
}

.clientName {
  color: var(--orange-400);
  font-family: "Bellota Text";
  font-size: 20px;
  font-weight: 400;
}

.container {
  align-items: center;
  display: flex;
  gap: 8px;
}

.menuArrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--orange-300);
  position: absolute;
  right: 19px;
  top: -10px;
}

.menuContainer {
  position: absolute;
  background: var(--orange-100);
  top: 90px;
  right: 32px;
  border: 2px solid var(--orange-300);
  border-radius: 5px;
  color: var(--orange-400);
  font-family: "Bellota Text";
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.menuContainer > span {
  cursor: pointer;
  padding: 8px 32px;
}

.menuContainer > span:hover {
  background: var(--orange-200);
}
