.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pointSelected {
  color: var(--orange-300);
  font-family: 'Calistoga', sans-serif;
  font-size: 26px;
}

.user {
  color: var(--deep-blue);
  font-size: 20px;
  font-family: 'Bellota Text', sans-serif;
  font-weight: 400;
}

.userContainer {
  align-items: center;
  display: flex;
  gap: 8px;
}

.userIconDark {
  color: var(--orange-400);
  font-size: 32px;
}

.userIconLight {
  color: var(--orange-300);
  font-size: 32px;
}
