.container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'main main main main'
    'main main main main'
    'main main main main'
    'footer footer footer footer';
  grid-template-rows: min-content 1fr 1fr 1fr min-content;
  min-height: 100vh;
}

.main {
  align-items: stretch;
  display: flex;
  grid-area: main;
}
.main > * {
  flex-grow: 1;
}
