---
interface Props {
  description: string;
  title: string;
}

import '@fontsource/bellota-text/400.css';
import '@fontsource/bellota-text/700.css';
import '@fontsource/calistoga';
import '@fontsource/material-icons';

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --orange-100: #fff5e5;
    --orange-200: #e9995c;
    --orange-300: #e46f3f;
    --orange-400: #96483a;
    --deep-blue: #23293c;
    --link: #17348e;
  }

  body {
    margin: 0;
  }

  html {
    font-family: system-ui, sans-serif;
    color: white;
    background: var(--orange-400);
  }

  h2 {
    color: var(--orange-300);
    font-size: 26px;
    font-family: 'Calistoga', sans-serif;
    font-weight: 400;
  }

  hr {
    border-color: var(--orange-200);
    border-width: 0.5px;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
</style>
