---
interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --orange-100: #fff5e5;
    --orange-200: #e9995c;
    --orange-300: #e46f3f;
    --orange-400: #96483a;
    --deep-blue: #23293c;
    --link: #17348e;
  }

  body {
    margin: 0;
  }

  html {
    font-family: system-ui, sans-serif;
    color: white;
    background: var(--orange-400);
  }
</style>
